.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.leads {
  width: 60%;
  margin: 0 auto;
  float: left;
}
.phases {
  width: 30%;
  float: left;
}
.mdl-data-table {
  width: 100%;
  margin-top: 0;
}
.data {
  max-width: 0;
  text-overflow: ellipsis;
  white-space: pre-line; 
  word-wrap: break-word;  
}

md-toolbar {
  box-shadow: 1px 2px 1px #999999;
}
md-dialog {
  max-width: 320px;
}

li {
  text-overflow: ellipsis;
  white-space: pre-line;
  word-break: break-word;
}
a:hover {
  cursor: pointer;
}
.actions {
  color: #B86660;
  font-size: 16px !important;
}