.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.leads {
  width: 50%;
  margin: 0 auto;
  float: left;
}

.phases {
  width: 30%;
  float: left;
}
md-toolbar {
  box-shadow: 1px 2px 1px #999999;
  margin-bottom: 10px;
  height: 30px;
}
.mdl-data-table, td, th {
  margin: 0 auto;
  width: 95%;
}
