<md-dialog style="width: 380px;" aria-label="New Project Modal">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span> {{lead.contact + ', ' + lead.company}} </span>
    </div>
  </md-toolbar>
  <md-content style="max-height:300px;" layout-padding>

    <md-select placeholder="Status" ng-model="lead.status.name">
      <md-option ng-repeat="phase in phases">{{phase.name}}</md-option>
    </md-select>

    <md-checkbox ng-repeat = "list in phases[lead.status.name].checklist" ng-model="lead.status.todo[list]" >
      {{ list }}
    </md-checkbox>

  </md-content>
  <md-divider>
    <div class="md-actions" layout="row" layout-align="end">
      <md-button class="md-primary" ng-click="close()"> Cancel</md-button>
      <md-button class="md-accent" ng-click="save(phaseForm.$valid)"> Save</md-button>
    </div>
  </md-divider>
</md-dialog>